/* 
    Document   : styles.css
    Created on : Oct 14, 2012, 2:25:58 PM
    Author     : jeroen
    Description:
        Purpose of the stylesheet follows.
*/

html, body
{
	background-color: rgba(64, 64, 64, 1);
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
}

h1,
#levelInfo,
#assignmentDescription
{
	margin: 0;
	padding: 15px;
	border-bottom: 5px solid #eee;
	border-right: 5px solid #eee;
	color: white;
}

h1,
#levelInfo,
#assignmentDescription,
#messageCenter > p
{
	transition: background 1s;
	background: #222;
}

h1:hover,
#levelInfo:hover,
#assignmentDescription:hover,
#messageCenter > p:hover
{
	background: black !important;
}

aside
{
	background-color: #eee;
	float: left;
	width: 250px;
	height: 100%;
}

aside .icon
{
	float: right;
	margin: 13px;
}

#canvas-container
{
	float: left;
}

canvas
{
	display: block;
}


canvas:active
{
	cursor: default;
}

#settings-overlay
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	width: 60%;
	height: 60%;
	padding: 20%;
}

#settings-overlay,
#settings-overlay a
{
	color: white;
}

#messageCenter > p
{
	margin: 10px;
	padding: 15px;
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	color: white;
}

.scrollable
{
	height: 100%;
	overflow: scroll;
	overflow-x: auto;
}

.max-height
{
	height: 100%;
}

.no-overflow
{
	overflow: hidden;
}

.no-padding
{
	padding: 0px;
}
